<app-header></app-header>
<div class="container" style="width: 95%; max-width: 95%;">

  <nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/myModules'">Modules</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/moduleHome', test.moduleID]">Module Home</a></li>
      <li aria-current="page" class="breadcrumb-item active">{{test.testTitle}}</li>
    </ol>
  </nav>

  <div class="row">

    <div class="col-sm-1">
      <h3>Students</h3>
      <div class="panel panel-default default-pre-scrollable">
        <table class="table-striped" style="width: 100%;">
          <tr *ngFor="let student of studentSet; let rowIndex = index;" style="border-radius: 10px;">
            <td style="padding-left: 10px; border-radius: 10px 0 0 10px;" (click)="showStudent = true; showQuestions = false; studentDetail = student; studentCounter = rowIndex; answerCounter = -1; newAnswerDetail(student.userID)">{{student.firstName + " " + student.lastName}}
            </td>
            <td style="border-radius: 0 10px 10px 0;">
              <button type="button" style="background: none; border: none;"
                      (click)="showStudent = true; showQuestions = false; studentDetail = student; studentCounter = rowIndex; answerCounter = -1; newAnswerDetail(student.userID)">
                <i
                  class="fas fa-long-arrow-alt-right"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-3">
      <h3>{{studentDetail.firstName + " " + studentDetail.lastName}}</h3>
      <div class="panel panel-default default-pre-scrollable">
        <table class="table-striped">
          <tbody>
          <span *ngFor="let script of scripts; let rowIndex = index;">
                    <tr (click)="answerDetail = script; answerCounter = rowIndex;" style="border-radius: 10px;"
                        [ngStyle]="{'background-color' : approvalFeedback[script.questionAndAnswer.answer.markerApproved]}"
                        *ngIf="script.questionAndAnswer.answer.answererID == studentDetail.userID">
                        <td style="padding-left: 10px; border-radius: 10px 0 0 10px;">
              <span
                *ngIf="script.questionAndAnswer.question.question.questionType == 3">Insert the missing word(s):<br/></span>{{script.questionAndAnswer.question.question.questionContent}}
            </td>
            <td style="border-radius: 0 10px 10px 0;">
              <button type="button" style="background: none; border: none;" ><i
                class="fas fa-long-arrow-alt-right"></i></button>
            </td>
          </tr>
          </span>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-5">

      <div class="pre-scrollable">
        <div class="panel panel-default default">
          <div class="panel-body">
            <div class="content"><img
              *ngIf="answerDetail.questionAndAnswer.question.base64 != null && answerDetail.questionAndAnswer.question.base64.length > 0"
              style="max-width: 80%; max-height: 200px; margin-left: auto; margin-right: auto;"
              [src]="readyImage(answerDetail.questionAndAnswer.question.base64)" alt="QuestionFigure"></div>
            <h5>Question:</h5>
            <h5 *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 3">
              Insert the missing word(s):</h5>
            <div class="form-group col-sm-12"><h4>{{answerDetail.questionAndAnswer.question.question.questionContent}}
              <span *ngIf="answerDetail.questionAndAnswer.question.mathLines && answerDetail.questionAndAnswer.question.mathLines.length >0">
                        <span *ngFor="let mathLine of answerDetail.questionAndAnswer.question.mathLines;">
                          <span style="margin-top: 3px;">
                            <ng-katex [equation]="mathLine.content" [options]="options"></ng-katex>
                          </span>
                        </span>
                      </span>
              <small style="float: right;">({{answerDetail.questionAndAnswer.question.question.maxScore}} marks)</small></h4>
            </div>

            <h5>Answer:</h5>

            <div class="answerArea">
              <div *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 3 || answerDetail.questionAndAnswer.question.question.questionType == 4">
                <h4 *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 3">Inputs</h4>
                <ol>
                  <div *ngFor="let input of answerDetail.questionAndAnswer.inputs; let i = index;">
                    <h4>
                      <li>{{input.inputValue}}: <ng-katex *ngIf="input.math == 1" [equation]="input.inputValue" [options]="options"></ng-katex></li>
                    </h4>
                  </div>
                </ol>
              </div>

              <div *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 2">

                <h4>Chosen Options</h4>
                <ol>
                  <div *ngFor="let optEntry of answerDetail.questionAndAnswer.optionEntries; let i = index">
                    <div *ngFor="let opt of answerDetail.questionAndAnswer.question.options">

                      <h4>
                        <li *ngIf="opt.optionID == optEntry.optionID">{{opt.optionContent}}</li>
                      </h4>

                    </div>
                  </div>
                </ol>
              </div>

              <div *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 1">
                <h4>{{answerDetail.questionAndAnswer.answer.content}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">


      <div class="pre-scrollable">
        <div class="panel panel-default default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-12" *ngIf="!editScoreShow">
                <h5>Score : {{answerDetail.questionAndAnswer.answer.score}}
                  <button *ngIf="!editFeedbackShow && answerDetail.questionAndAnswer.answer.markerApproved == 0"
                          type="button" style="background: none; border: none;" (click)="editScoreShow = true"><i
                    class="fas fa-arrows-alt-v"></i>
                  </button>
                </h5>
              </div>
              <div class="col-sm-12" *ngIf="editScoreShow">
                <form #editScoreForm="ngForm" (submit)="editScore(editScoreForm)"
                      id='editScore'
                      name='editScore' role="form"
                      style="width: 100%;">
                  <h5><label for="score">Score</label></h5>
                  <span style="font-size: x-small; margin-bottom: 2px;" *ngIf="scoreError">Must not exceed maximum score.</span>
                  <input #testTitle="ngModel" [(ngModel)]="answerDetail.questionAndAnswer.answer.score"
                         aria-describedby="scoreHelp"
                         class="form-control" id="score" name="score" required type="number"
                         style="margin-right: 10px;"
                         [ngStyle]="{'border-color' : checkScore}"/>
                  <button style="margin-top: 5px;" type="submit" class="btn btn-dark btn-sm">Save</button>
                </form>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <h5>Current Feedback
                  <button *ngIf="!editFeedbackShow && answerDetail.questionAndAnswer.answer.markerApproved == 0"
                          (click)="editFeedbackShow = true" type="button" style="background: none; border: none;"><i
                    class="fas fa-edit"></i></button>
                </h5>
              </div>
              <div class="answerArea" *ngIf="!editFeedbackShow" style="margin-left: 15px; margin-right: 15px;">
                <h5>{{answerDetail.questionAndAnswer.answer.feedback}}</h5>
              </div>
              <div class="col-sm-12" *ngIf="editFeedbackShow">
                <form #editFeedbackForm="ngForm" (submit)="editFeedback(editFeedbackForm)"
                      id='editFeedback'
                      name='editFeedback' role="form"
                      style="width: 95%; max-width: 95%;">
                  <span style="font-size: x-small; margin-bottom: 2px;" *ngIf="feedbackError">Must must be between 0 and 56535 characters long.</span>
                  <textarea #testTitle="ngModel" [(ngModel)]="answerDetail.questionAndAnswer.answer.feedback"
                            aria-describedby="scoreHelp"
                            class="form-control" id="feedback" name="feedback" required
                            style="margin-right: 10px;"
                            [ngStyle]="{'border-color' : checkFeedback}"></textarea>
                  <button style="margin-top: 5px;" type="submit" class="btn btn-dark btn-sm">Save</button>
                </form>
              </div>
            </div>


            <!-- Template from ngBootstrap -->
            <ng-template #ConfirmApprove let-modal>
              <div class="modal-header">
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5 *ngIf="answerDetail.questionAndAnswer.answer.markerApproved == 0">Are you sure you want to approve
                  this answer?</h5>
                <h5 *ngIf="answerDetail.questionAndAnswer.answer.markerApproved == 1">Are you sure you want to
                  disapprove this answer?</h5>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(); approve(answerDetail.questionAndAnswer.answer.answerID);"
                        class="btn btn-outline-dark" type="button">Yes, I'm
                  sure
                </button>
              </div>
            </ng-template>

            <!-- Template from ngBootstrap -->
            <ng-template #ConfirmAlt let-modal>
              <div class="modal-header">
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Are you sure you want to add an alternative?</h5>
                <h5>Addition of an alternative will cause refactoring and any affected answers will no longer be
                  marked
                  as approved.</h5>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(); addAlternativeEdit = true"
                        class="btn btn-outline-dark" type="button">Yes, I'm
                  sure
                </button>
              </div>
            </ng-template>

            <!-- Template from ngBootstrap -->
            <ng-template #ConfirmAltRem let-modal>
              <div class="modal-header">
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Are you sure you want to remove this alternative #{{altToRemove}}?</h5>
                <h5>Removal of an alternative will cause refactoring and any affected answers will no longer be marked
                  as approved.</h5>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(); removeAlt(altToRemove);"
                        class="btn btn-outline-dark" type="button">Yes, I'm
                  sure
                </button>
              </div>
            </ng-template>

            <!-- Template from ngBootstrap -->
            <ng-template #ConfirmCP let-modal>
              <div class="modal-header">
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Are you sure you want to add an mark allocation?</h5>
                <h5>Addition of a mark allocation will cause refactoring and any affected answers will no longer be
                  marked as approved.</h5>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(); addCorrectPointEdit = true; initCorrectPoint()"
                        class="btn btn-outline-dark" type="button">Yes, I'm
                  sure
                </button>
              </div>
            </ng-template>

            <!-- Template from ngBootstrap -->
            <ng-template #ConfirmCPRem let-modal>
              <div class="modal-header">
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Are you sure you want to remove this mark allocation?</h5>
                <h5>Removal of a mark allocation will cause refactoring and any affected answers will no longer be
                  marked as approved.</h5>
              </div>
              <div class="modal-footer">
                <button (click)="modal.close(); removeCorrectPoint(correctPointToRemove);"
                        class="btn btn-outline-dark" type="button">Yes, I'm
                  sure
                </button>
              </div>
            </ng-template>

            <button *ngIf="answerDetail.questionAndAnswer.answer.markerApproved == 0" style="margin-top: 15px;"
                    class="btn btn-success btn-sm" type="button" (click)="open(ConfirmApprove)">Approve
            </button>
            <button *ngIf="answerDetail.questionAndAnswer.answer.markerApproved == 1" style="margin-top: 15px;"
                    class="btn btn-danger btn-sm" type="button" (click)="open(ConfirmApprove)">Disapprove
            </button>

            <div *ngIf="moduleAssoc == TUTOR && answerDetail.questionAndAnswer.question.question.questionType == 1 || answerDetail.questionAndAnswer.question.question.questionType == 4">
              <button style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-dark btn-sm" type="button"
                      (click)="open(ConfirmCP)">Add
                another mark allocation
              </button>


              <form *ngIf="addCorrectPointEdit" #addCorrectPointForm="ngForm"
                    (submit)="addCorrectPoint(addCorrectPointForm)"
                    id='addCorrectPoint'
                    name='addCorrectPoint' role="form"
                    style="width: 100%;">
                <div class="row">
                  <div class="form-group col-md-8" *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 4" >
                    <label for="correctPointType{{i}}">Type </label>

                    <select #cpType="ngModel" [(ngModel)]="correctPointToInsert.math" class="form-control"
                            id="correctPointType{{i}}"
                            name="correctPointType{{i}}">
                      <option [value]="0">Text</option>
                      <option [value]="1">Mathematical</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="phrase">Phrase <span *ngIf="phraseError"
                                                     style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
                    <textarea [(ngModel)]="correctPointToInsert.phrase" class="form-control" id="phrase"
                           name="phrase"
                              type="text"></textarea>
                    <ng-katex *ngIf="correctPointToInsert.math == 1" style="align-content: start; text-align: left;" [equation]="correctPointToInsert.phrase" [options]="options"></ng-katex>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="marksWorth">Allocated Mark <span *ngIf="marksWorthError"
                                                                 style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span></label>
                    <input [(ngModel)]="correctPointToInsert.marksWorth" class="form-control" id="marksWorth"
                           name="marksWorth"
                           type="number">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="feedbackInsert">Feedback to give <span *ngIf="feedbackInsertError"
                                                                       style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
                    <textarea [(ngModel)]="correctPointToInsert.feedback" class="form-control" id="feedbackInsert"
                              name="feedbackInsert"
                              rows="3"
                              style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                  </div>
                  <div class="form-group col-md-12">
                    <label>Alternatives
                      <button (click)="initTextAlternative(i)" type="button"
                              style="color: #007bff; background-color: transparent; border: none;"><i
                        class="fas fa-plus"></i> Text</button>
                      <button *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 4" (click)="initMathAlternative(i)" type="button"
                              style="color: #28a745; background-color: transparent; border: none;"><i
                        class="fas fa-plus"></i> Math</button>

                    </label><br/>
                    <span *ngIf="alternativePhraseError" style="font-size: x-small; color: #dc3545;">Must not exceed 65,535 characters.</span>
                    <div *ngFor="let alt of correctPointToInsert.alternatives; let j = index">
                      <div class="row">
                        <div class="col-sm-11" style="padding-right: 0;">
                          <textarea [(ngModel)]="alt.alternativePhrase"
                                 class="form-control" id="alternatives{{[j]}}" name="alternatives{{[j]}}"
                                    type="text" [ngStyle]="{'border-color' : alt.math == 1 ? '#28a745' : '#007bff'}"></textarea>
                        </div>
                        <div class="col-sm-1" style="padding-left: 0;">
                          <button type="button"
                                  (click)="removeAlternative([j])"
                                  style="color: #dc3545; background-color: transparent; border: none;"><i
                            class="fas fa-times"></i></button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <button style="margin-top: 5px; margin-right: 5px;" type="submit" class="btn btn-dark btn-sm">Save
                </button>
                <button style="margin-top: 5px;" type="reset" class="btn btn-dark btn-sm"
                        (click)="addCorrectPointForm.reset(); addCorrectPointEdit = false">Reset
                </button>
              </form>
            </div>
            <div *ngIf="answerDetail.questionAndAnswer.question.question.questionType != 2">
              <h6 style="margin-top: 15px;">Mark Allocations <span
                style="font-size: small;"> expand for details</span>
              </h6>
              <ngb-accordion [closeOthers]="true" #markAllocations="ngbAccordion" activeIds="ngb-panel-0"
                             class="rounded dark">
                <ngb-panel class="rounded dark" *ngFor="let correctPoint of answerDetail.questionAndAnswer.correctPoints"
                           title="{{correctPoint.phrase}}" style="text-decoration: none;">
                  <ng-template ngbPanelContent class="rounded dark">

                    <div class="row" style="padding-left: 10%; padding-right: 10%;">
                      <ng-katex *ngIf="correctPoint.math == 1" [equation]="correctPoint.phrase" [options]="options"></ng-katex>
                      <button
                        *ngIf="moduleAssoc == TUTOR && answerDetail.questionAndAnswer.question.question.questionType != 3"
                        style="margin-top: 5px; margin-bottom: 10px"
                        class="btn btn-danger btn-sm"
                        type="button"
                        (click)="correctPointToRemove = correctPoint.correctPointID; open(ConfirmCPRem)">Remove
                        this mark allocation
                      </button>

                      <div class="col-sm-12">
                        <h6><b>Allocated Mark: </b>{{correctPoint.marksWorth}}</h6>
                      </div>
                      <div class="col-sm-12">
                        <h6><b>Alternative Phrases: </b></h6>
                        <ul style="text-align: left;"
                            *ngIf="correctPoint.alternatives && correctPoint.alternatives.length > 0">
                          <li *ngFor="let alt of correctPoint.alternatives; let x = index">
                            {{alt.alternativePhrase}}
                            <button *ngIf="moduleAssoc == TUTOR" style="background: none; border: none;"
                                    (click)="altToRemove = alt.alternativeID; open(ConfirmAltRem)"><i
                              class="fas fa-trash-alt"></i></button>
                            <ng-katex *ngIf="alt.math == 1" style="align-content: start; text-align: left;" [equation]="alt.alternativePhrase" [options]="options"></ng-katex>
                          </li>
                        </ul>

                        <ul style="text-align: left;"
                            *ngIf="correctPoint.alternatives && correctPoint.alternatives.length == 0">
                          <li>
                            No alternatives.
                          </li>
                        </ul>

                        <div *ngIf="moduleAssoc == TUTOR">
                          <button style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-dark btn-sm"
                                  type="button"
                                  (click)="open(ConfirmAlt)">Add an
                            alternative
                          </button>
                          <form *ngIf="addAlternativeEdit" #addAlternativeForm="ngForm"
                                (submit)="addAlternative(addAlternativeForm, correctPoint.correctPointID)"
                                id='addAlternative'
                                name='addAlternative' role="form"
                                style="width: 100%;">
                            <h5><label for="alternative">Alternative</label></h5>
                            <span style="font-size: x-small; margin-bottom: 2px;" *ngIf="altError">Must not exceed by empty or longer than 56535 characters.</span>
                            <div class="row">
                              <div class="form-group col-sm-8" *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 4" >
                                <label for="correctPointType{{i}}">Type </label>

                                <select #cpType="ngModel" [(ngModel)]="alternativeToInsert.math" class="form-control"
                                        id="altType{{i}}"
                                        name="altType{{i}}">
                                  <option [value]="0">Text</option>
                                  <option [value]="1">Mathematical</option>
                                </select>
                              </div>
                            </div>
                            <textarea #alternative="ngModel" [(ngModel)]="alternativeToInsert.alternativePhrase"
                                      aria-describedby="scoreHelp"
                                      class="form-control" id="alternative" name="alternative" required
                                      style="margin-right: 10px;"
                                      [ngStyle]="{'border-color' : checkAlt}"></textarea>
                            <ng-katex *ngIf="alternativeToInsert.math == 1" [equation]="alternativeToInsert.alternativePhrase" [options]="options"></ng-katex>

                            <button style="margin-top: 5px; margin-right: 5px;" type="submit"
                                    class="btn btn-dark btn-sm">Save
                            </button>
                            <button style="margin-top: 5px;" type="reset" class="btn btn-dark btn-sm"
                                    (click)="addAlternativeForm.reset(); addAlternativeEdit = false">Reset
                            </button>

                          </form>
                        </div>
                      </div>

                    </div>

                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>

            <div *ngIf="answerDetail.questionAndAnswer.question.question.questionType == 2">
              <table class="table table-dark" style="margin-top: 15px;">
                <thead class="thead-dark">
                <tr>
                  <th>Option</th>
                  <th>Feedback</th>
                  <th>Worth</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let opt of answerDetail.questionAndAnswer.question.options">
                  <td data-label="Option">{{opt.optionContent}}</td>
                  <td data-label="Feedback">{{opt.feedback}}</td>
                  <td data-label="Worth">{{opt.worthMarks}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

