.content {
  margin-bottom: 10px;
  text-align: center;
}

.panel-body {
  padding: 15px;
}

.pre-scrollable {
  max-height: 650px;
  height: 650px;
  background-color: #bdbdbd;
  border-radius: 5px;
}

.answerArea {
  padding: 5px;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 5px;
}
