<img alt="AssessmentAssistantLogo" id="logo" src="./assets/images/logo.png" routerLink="/login" placement="bottom" ngbTooltip="Back to login..."/>
<form class="shadow mainForm" id="requestResetPassword" name='requestResetPassword' role="form"
      #requestResetForm="ngForm" (submit)="requestReset(requestResetForm)" novalidate>

  <h3>Request a Reset</h3>
  <p *ngIf="error">{{errorMessage}}</p>
  <p>Once entered you will be redirected to the login page, please wait and you will receive an email with a link to reset your password.</p>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="email" required/>
  </div>

  <div class="form-group">
    <label for="confirmEmail">Confirm email:</label>
    <input type="email" class="form-control" id="confirmEmail" aria-describedby="emailHelp" placeholder="Confirm email" name="confirmEmail" [(ngModel)]="confirmEmail" required/>
  </div>

  <button id="loginButton" type="submit" class="shadow btn btn-primary">Send Request</button>
</form>
