<app-header></app-header>
<div class="container" style="width: 90%; max-width: 90%;">

  <nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/myModules'">Modules</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/moduleHome', test.moduleID]">Module Home</a></li>
      <li aria-current="page" class="breadcrumb-item active">{{test.testTitle}}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm-4">
      <h3 *ngIf="test">{{test.testTitle}}</h3>
      <p *ngIf="test">Start: {{test.startDateTime}}</p>
      <p *ngIf="test">End: {{test.endDateTime}}</p>

      <h3>Questions <span>
      <div aria-label="Basic example" class="btn-group" role="group" style="margin-bottom: 5px;">
        <button (click)="showAdd = true; showExist = false; showDetail= false;" class="btn btn-dark"
                type="button">New
        </button>
        <button (click)="showExist = true; showAdd = false; showDetail = false;" class="btn btn-dark"
                type="button">Reuse
        </button>
      </div>
      </span></h3>
      <div class="panel panel-default default-pre-scrollable">
        <table class="table-striped">
          <tr *ngFor="let question of questions; let rowIndex = index">
            <td>{{rowIndex}}</td>
            <td>{{question.questionContent}}</td>
            <td>
              <button type="button" class="btn btn-info"
                      (click)="questionDetail = question; showExist = false; showAdd = false; showDetail = true;">Info
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-8">
      <app-question-detail *ngIf="showDetail"><!--[question]="questionDetail"--></app-question-detail>
      <app-add-question *ngIf="showAdd"></app-add-question>
      <app-old-question *ngIf="showExist"></app-old-question>
    </div>
  </div>
</div>
