<img alt="AssessmentAssistantLogo" id="logo" src="../../assets/images/logo.png"/>
<form class="shadow mainForm" id="loginForm" name='loginForm' role="form"
      (submit)="login()" novalidate>
  <!-- /login?error=true -->
  <div *ngIf="errorMsg">{{errorMsg}}</div>

  <div class="form-group">
    <label for="emailLogin">Email:</label>
    <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="Enter email" name="username" [(ngModel)]="user.username" required/>
  </div>

  <div class="form-group">
    <label for="passwordLogin">Password</label>
    <input type="passwordReset" class="form-control" id="passwordLogin" placeholder="Password" name="passwordReset" [(ngModel)]="user.passwordReset" required/>
  </div>

  <button id="loginButton" type="submit" class="shadow btn btn-primary">Login</button>
</form>

