<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.4/dist/mini-default.min.css">
<link href="/css/assessmentAssistant.css" rel="stylesheet"
	type="text/css">


<title>Add Test</title>
</head>
<body>
	<div>
		<!-- Include _menu.html -->
		<th:block th:include="/logoutButton"></th:block>


		<a th:href="@{/myModules}"><img id="homeLogo" src="/images/logo_transparent.png" /></a>

	</div>
	<div class="container">

		<form class="shadow mainForm" id="addTestForm" name='addTestForm'
			th:action="@{/saveTest}" th:object="${test}" method='POST'>

			<fieldset>
				<legend>Add a Test</legend>

				<div th:if="${#request.getAttribute('error') != null}"
					th:value="${#request.getAttribute('error')}"></div>
				<div class="input-group vertical">
					<label for="testTitle">Title:</label> <input class="shadow"
						type="text" id="testTitle" th:field="*{testTitle}"
						name="testTitle">
				</div>
				<div class="input-group vertical">
					<label for="startDate">Start:</label> <input class="shadow"
						type="datetime-local" id="startDate" th:field="*{startDateTime}"
						name="startDate">
				</div>

				<div class="input-group vertical">
					<label for="endDate">End:</label> <input class="shadow"
						type="datetime-local" id="endDate" th:field="*{endDateTime}"
						name="endDate">
				</div>

				<input type="hidden"
					th:if="${#request.getParameter('moduleID') != null}"
					th:value="${#request.getParameter('moduleID')}"
					th:attr="name='moduleID'" /> 
					
				<input type="hidden"
					th:if="${#request.getAttribute('moduleID') != null}"
					th:value="${#request.getAttribute('moduleID')}"
					th:attr="name='moduleID'" /> 
					
				<input id="addTestButton"
					class="shadow button" type="submit" name='save'
					value="Save and Proceed to Add Questions" />
			</fieldset>
		</form>

	</div>
</body>

</html>