<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.4/dist/mini-default.min.css">
<link href="/css/assessmentAssistant.css" rel="stylesheet"
	type="text/css">
<title>Login</title>
</head>
<body>

	<img id="loginLogo" src="/images/logo_transparent.png" />
	<form class="shadow mainForm" id="loginForm" name='loginForm'
		th:action="@{/j_spring_security_check}" method='POST'>

		<fieldset>
			<legend>Enter details</legend>
			<!-- /login?error=true -->
			<div th:if="${#request.getParameter('error') == 'true'}">
				<span
					th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
					th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
			</div>

			<div class="input-group vertical">
				<label for="emailLogin">Email:</label> <input class="shadow"
					type="text" id="emailLogin" name="username">
			</div>
			<div class="input-group vertical">
				<label for="passwordLogin">Password:</label> <input class="shadow"
					type="password" id="passwordLogin" name="password">
			</div>

			<div class="input-group" id="loginCheckBox">
				<input type="checkbox" id="checkBoxLogin" name="remember-me"
					tabindex="0"> <label for="check1">Keep me signed in</label>
			</div>
			<input id="loginButton" class="shadow button"
				type="submit" name='submit' value="Login">
		</fieldset>
	</form>
</body>
</html>