<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/ico"
	th:href="@{/images/favicon.ico}" />
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.4/dist/mini-default.min.css">
<link href="/css/assessmentAssistant.css" rel="stylesheet"
	type="text/css">
<title>Module Home</title>
</head>
<body>
	<div>
		<!-- Include _menu.html -->
		<th:block th:include="/logoutButton"></th:block>


		<a th:href="@{/myModules}"><img id="homeLogo" src="/images/logo_transparent.png" /></a>

	</div>
	<div class="container">
		<div class="title">
			<h1 th:utext="${moduleName}"></h1>
		</div>
		<div id="activeTests" th:utext="${activeTests}"></div>
		<div id="activeResults" th:utext="${activeResults}"></div>
		<div id="scheduledTests" th:utext="${scheduledTests}"></div>
		<div id="marking" th:utext="${marking}"></div>
		<div id="testDrafts" th:utext="${testDrafts}"></div>
		<div id="reviewMarking" th:utext="${reviewMarking}"></div>
	</div>
</body>

</html>