<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/ico"
	th:href="@{/images/favicon.ico}" />

<link rel="stylesheet"
	href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.4/dist/mini-default.min.css">
<link href="/css/assessmentAssistant.css" rel="stylesheet"
	type="text/css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<title>Edit Test</title>
</head>
<body>
	

</body>


</html>