<img alt="AssessmentAssistantLogo" id="logo" src="../../assets/images/logo.png" routerLink="/login" placement="bottom" ngbTooltip="Back to login..."/>
<form class="shadow mainForm" id="createProfile" name='createProfile' role="form"
      #createProfileForm="ngForm" (submit)="createProfile(createProfileForm)" novalidate>

  <h3>Create Profile</h3>

  <div class="form-group">
    <label for="email">Email:</label>
    <small *ngIf="usernameError"> {{usernameErrorMessage}}</small>
    <input (change)="getUsernames(user.username)" #emailModel="ngModel" type="email" class="form-control" id="email" aria-describedby="emailDesc" name="email" [(ngModel)]="user.username" required/>
  </div>

  <div class="form-group">
    <label for="email">First name:</label>
    <small *ngIf="firstnameError"> {{firstnameErrorMessage}}</small>
    <input #firstNameModel="ngModel" type="text" class="form-control" id="first-name" aria-describedby="firstNameDesc" name="first-name" [(ngModel)]="user.firstName" required/>
  </div>

  <div class="form-group">
    <label for="email">Last name:</label>
    <small *ngIf="lastnameError"> {{lastnameErrorMessage}}</small>
    <input #lastNameModel="ngModel" type="text" class="form-control" id="last-name" aria-describedby="lastNameDesc" name="last-name" [(ngModel)]="user.lastName" required/>
  </div>

  <div class="form-group">
    <label for="newPassword">Password</label>
    <small *ngIf="passwordError"> {{passwordErrorMessage}}</small>
    <input #newPasswordModel="ngModel" [(ngModel)]="user.password" aria-describedby="newPasswordDesc"
           class="form-control" id="newPassword" name="newPassword" required type="password"/>
  </div>

  <div class="form-group">
    <label for="repeatPassword">Re-enter new password</label>
    <input #repeatPasswordModel="ngModel" [(ngModel)]="repeatPassword" aria-describedby="repeatPasswordDesc"
           class="form-control" id="repeatPassword" name="repeatPassword" required type="password"/>
  </div>
  <button id="loginButton" type="submit" class="shadow btn btn-primary">Create</button>
</form>
