@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */

@import '~katex/dist/katex.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  background-color: #dbdbdb;
}

.katex-display {
  margin-top: 0;
}

.breadcrumbs ol {
  background-color: #dbdbdb;
  padding: 0;
}

.breadcrumbs ol li a {
  color: #584E74;
}

.container {
  width: 80%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
.title {
  text-align: center;
}

.mainForm {
  background-color: #bdbdbd;
  width: 50%;
  margin: 1% auto 15% auto;
  padding: 30px 30px 30px 30px;
}

#addQuestionForm {
  background-color: #bdbdbd;
  width: 60%;
}

.shadow.btn {
  border-color: #545454;
  background-color: #545454;
  color: white;
}

#addTestButton {
  width: 55%;
}

.shadow {
  border-radius: 5px;
  box-shadow: 5px 3px 2.5px #545454;
}

#startDate, #endDate {
  min-height: 2em;
}

#addQuestionButton {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.card .card-header {
  background-color: #343a40;
}

.card {
  border-radius: 5px;
}

.card .card-header .mb-0 .btn-link {
  color: white;
}

.pre-scrollable {
  max-height: 65vh;
  height: 65vh;
  background-color: #bdbdbd;
  border-radius: 5px;
  overflow-x: hidden;
}

.pre-scrollable::-webkit-scrollbar-track {
  border: none;
  background-color: #bdbdbd;
  margin-bottom: 0;
}

.pre-scrollable::-webkit-scrollbar {
  width: 12px;
  border: none;
  background-color: #bdbdbd;
  margin-bottom: 0;
}

.pre-scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

button {
  cursor: pointer;
}
