#logoutButton {
  margin-top: 5%;
  margin-right: 5%;
  position: relative;
  float: right;
}

#dropdownMenu {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 3%;
  position: relative;
  float: left;
}

#logo {
  position: static;
  width: 8%;
  margin-left: 28%;
}
