<app-header></app-header>
<div class="container" style="width: 80%;">
  <nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/myModules'">Modules</a></li>
      <li aria-current="page" class="breadcrumb-item active">{{moduleTutor.module.moduleName}}</li>
    </ol>
  </nav>

  <div class="title">
    <h3 class="display-3">{{moduleTutor.module.moduleName || ""}}</h3>
  </div>


  <div class="shadow" id="moduleHomeArea">
    <nav class="navbar navbar-dark bg-dark" id="navbar-example">
      <a class="navbar-brand" style="color: white;">Module Home</a>
      <ul class="nav nav-pills" id="subHeadings" style="color: white;">
        <li class="nav-item">
          <a
            (click)="activeTestCheck = true;
            contactAssociates = false;
            activeResultCheck = false;
            addAssociationsCheck = false;
            addTestCheck = false;
            performanceCheck = false;
            scheduledTestCheck = false;
            markingCheck = false;
            testDraftCheck = false;
            reviewMarkingCheck = false"
            class="nav-link" href="#">Active
            Tests</a>
        </li>

        <li *ngIf="TUTOR == (moduleAssoc | async)" class="nav-item">
          <a
            (click)="activeTestCheck = false;
            addAssociationsCheck = true;
            activeResultCheck = false;
            addTestCheck = false;
            performanceCheck = false;
            scheduledTestCheck = false;
            markingCheck = false;
            testDraftCheck = false;
            reviewMarkingCheck = false"
            class="nav-link" href="#">Associates</a>
        </li>

        <li *ngIf="STUDENT == (moduleAssoc | async)" class="nav-item">
          <a (click)="activeResultCheck = true;
          addAssociationsCheck = false;
             activeTestCheck = false;
             addTestCheck = false;
             performanceCheck = false;
             scheduledTestCheck = false;
             markingCheck = false;
             testDraftCheck = false;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Grades</a>
        </li>
        <li *ngIf="(moduleAssoc | async) == STUDENT" class="nav-item">
          <a (click)="activeResultCheck = false;
          addAssociationsCheck = false;
             activeTestCheck = false;
             performanceCheck = true;
             addTestCheck = false;
             scheduledTestCheck = false;
             markingCheck = false;
             testDraftCheck = false;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Results</a>
        </li>
        <li *ngIf="(moduleAssoc | async) == TUTOR" class="nav-item">
          <a (click)="activeTestCheck = false;
          addAssociationsCheck = false;
             activeResultCheck = false;
             addTestCheck = true;
             performanceCheck = false;
             scheduledTestCheck = false;
             markingCheck = false;
             testDraftCheck = false;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Add Test</a>
        </li>
        <li *ngIf="(moduleAssoc | async) == TUTOR" class="nav-item">
          <a (click)="activeTestCheck = false;
             activeResultCheck = false;
             addAssociationsCheck = false;
             addTestCheck = false;
             performanceCheck = false;
             scheduledTestCheck = true;
             markingCheck = false;
             testDraftCheck = false;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Scheduled
            Tests</a>
        </li>
        <li *ngIf="(moduleAssoc | async) != STUDENT" class="nav-item">
          <a (click)="activeTestCheck = false;
             activeResultCheck = false;
             addAssociationsCheck = false;
             addTestCheck = false;
             performanceCheck = false;
             scheduledTestCheck = false;
             markingCheck = true;
             testDraftCheck = false;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Marking</a>
        </li>
        <li *ngIf="(moduleAssoc | async) == TUTOR" class="nav-item">
          <a (click)="activeTestCheck = false;
             activeResultCheck = false;
             addAssociationsCheck = false;
             addTestCheck = false;
             performanceCheck = false;
             scheduledTestCheck = false;
             markingCheck = false;
             testDraftCheck = true;
             reviewMarkingCheck = false"
             class="nav-link" href="#">Test
            Drafts</a>
        </li>
        <li *ngIf="(moduleAssoc | async) == TUTOR" class="nav-item">
          <a (click)="activeTestCheck = false;
             activeResultCheck = false;
             addAssociationsCheck = false;
             performanceCheck = false;
             addTestCheck = false;
             scheduledTestCheck = false;
             markingCheck = false;
             reviewMarkingCheck = true;
             testDraftCheck = false"
             class="nav-link" href="#">Review
            Marking</a>
        </li>
      </ul>
    </nav>

    <div *ngIf="activeTestCheck" class="pre-scrollable">
      <div class="modHomeInner" id="activeTests">
        <div *ngIf="activeTests && activeTests.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Active Tests</h5>
          </div>
          <table class="table table-dark">

            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Title</th>
              <th>Deadline</th>
              <th *ngIf="(moduleAssoc | async) == STUDENT">Take</th>
              <th *ngIf="(moduleAssoc | async) == TUTOR">View</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activeTest of activeTests">
              <td scope="row">{{activeTest.testID}}</td>
              <td data-label="Title:"> {{activeTest.testTitle}}</td>
              <td data-label="Deadline:">{{activeTest.endDateTime | date:"dd-MM-yyyy 'at' HH:mm"}}</td>

              <td *ngIf="answeredSet && answeredSet.includes(activeTest.testID) && (moduleAssoc | async) != TEACHING_ASSISTANT">SUBMITTED</td>
              <td data-label="Take:" *ngIf="answeredSet && !answeredSet.includes(activeTest.testID) && (moduleAssoc | async) != TEACHING_ASSISTANT"><a [routerLink]="['/takeTest', activeTest.testID]" style="color: white;"><i
                class="fas fa-stopwatch fa-lg"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf=" activeTests && activeTests.length == 0">
          <div class="title">
            <h5 class="display-5">Active Tests</h5>
            <h1 class="display-3">No active tests to show.</h1>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="addAssociationsCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == TUTOR">
        <form id="addModule" name='addModule' role="form"
              #addAssociationForm="ngForm" style="width: 50%; margin-left: 25%; margin-top: 2%;" (submit)="addAssociations(addAssociationForm)" >

          <a href="../../assets/Sample%20Associations.csv">Sample Associations.csv</a>
          <p style="margin-bottom: 0;">If the user doesn't have an account, one will be created for them.</p>
          <div class="custom-file" style="margin-top: 10px; margin-bottom: 10px;">
            <input type="file" accept=".csv" class="custom-file-input" name="addAssociations" id="addAssociations"
                   (change)="readAssociations($event)" #assocInput>
            <label class="custom-file-label" for="addAssociations" (click)="assocInput.click()">Add associations -
              <span
                *ngIf="!fileError">(Must be a .csv)</span><span *ngIf="fileSuccess"> - File added <i
                class="fas fa-check-circle"></i></span><span *ngIf="fileError"
                                                             style="color: #dc3545;">{{fileErrorMessage}}</span></label>
          </div>

          <button id="submitRequest" type="submit" class="shadow btn btn-primary">Submit</button>
        </form>

        <div *ngIf="associates && associates.length > 0" >
          <table class="table-striped table-dark" style="width: 50%; margin: 2% 25% 5% 25%">
            <tr *ngFor="let user of associates;">
              <td> </td>
              <td>{{user.username}}</td>
              <td  style="padding-left: 10px;"><a href="mailto:{{user.username}}?Subject={{moduleTutor.module.moduleName}}"><button style="width: 100%;" class="btn btn-primary btn-sm">Email</button></a></td>
              <td  style="padding-left: 10px;"><button style="width: 100%;" class="btn btn-danger btn-sm" (click)="userToRemove = user.username; open(AreYouSureRemoveAssociation)">Remove</button></td>
            </tr>
          </table>
        </div>
        <div *ngIf="!associates || associates.length == 0">No associates to show.</div>
      </div>
    </div>

    <!-- Template from ngBootstrap -->
    <ng-template #AreYouSureRemoveAssociation let-modal>
      <div class="modal-header">
        <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to remove this user from the module?</h5>
      </div>
      <div class="modal-footer">
        <button (click)="modal.close(); removeAssociation(userToRemove);" class="btn btn-outline-dark" type="button">Yes, I'm
          sure
        </button>
      </div>
    </ng-template>

    <div *ngIf="activeResultCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == STUDENT" class="modHomeInner" id="activeResults">
        <div *ngIf="activeResults && activeResults.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Grades</h5>
          </div>
          <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Title</th>
              <th>Score</th>
              <th>Feedback</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let activeResult of activeResults">
              <td scope="row">{{activeResult.test.testID}}</td>
              <td data-label="Title">{{activeResult.test.testTitle}}</td>
              <td data-label="Grade">{{ activeResult.grade }}</td>
              <td data-label="Feedback"><a [routerLink]="['/feedback', activeResult.test.testID]">View</a></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div *ngIf="activeResults.length == 0">
          <div class="title">
            <h5 class="display-5">Active Results</h5>
            <h1 class="display-3">No active results to show.</h1>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="performanceCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == STUDENT || (moduleAssoc | async) == TUTOR" class="modHomeInner" id="performance">
        <div *ngIf="performanceList && performanceList.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Results</h5>
          </div>
          <table class="table table-dark">

            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Test</th>
              <th>Score</th>
              <th>Class Average</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let performance of performanceList">
              <td scope="row">{{performance.testAndResult.test.testID}}</td>
              <td data-label="Test"> {{performance.testAndResult.test.testTitle}}</td>

              <td data-label="Score">{{performance.testAndResult.testResult.testScore / performance.testAndResult.percentageScore * 100 | number:'0.0-0'}}</td>
              <td data-label="Class Average">{{performance.classAverage | number:'0.0-0'}}</td>
              <td data-label="Details"><a [routerLink]="['/performance', performance.testAndResult.test.testID]">View</a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="performanceList.length == 0">
          <div class="title">
            <h5 class="display-5">Performance</h5>
            <h1 class="display-3">No performance data to show.</h1>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="addTestCheck" class="modHomeInner">
      <app-add-test *ngIf="(moduleAssoc | async) == TUTOR"></app-add-test>
    </div>


    <div *ngIf="scheduledTestCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == TUTOR" class="modHomeInner" id="scheduledTests">
        <div *ngIf="scheduledTests.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Scheduled Tests</h5>
          </div>
          <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Title</th>
              <th>Start Time</th>
              <th>Moved to Drafts</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let scheduledTest of scheduledTests">
              <td scope="row">{{scheduledTest.testID}}</td>
              <td data-label="Title:">{{scheduledTest.testTitle}}</td>
              <td data-label="Starts:">{{scheduledTest.startDateTime | date: "dd-MM-yyyy 'at' HH:mm"}}</td>
              <td data-label="Not ready?"><a (click)="retractScheduled(scheduledTest.testID); getScheduledTests(moduleID)"
                                             style="color: white;"><i
                class="fas fa-step-backward fa-lg"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="scheduledTests.length == 0">
          <div class="title">
            <h5 class="display-5">Scheduled Tests</h5>
            <h1 class="display-3">No scheduled tests to show.</h1>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="markingCheck">
      <div *ngIf="(moduleAssoc | async) != STUDENT" class="modHomeInner" id="marking">
        <div *ngIf="marking.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Marking</h5>
          </div>
          <div class="marking">
            <nav class="nav" id="markNav">
              <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-dark" ngbDropdownToggle>Tests</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" *ngFor="let testMarking of marking"
                              (click)="show = testMarking.test.testID">{{testMarking.test.testTitle}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            <div *ngFor="let testMarking of marking">
              <div
                *ngIf="testMarking == marking[0] ? show == testMarking.test.testID || show == 0 : show == testMarking.test.testID"
                class="markingObj" id="testMarking.test.testID">
                <h2>{{testMarking.test.testTitle}}</h2><span>answers marked</span>
                <div *ngIf="(moduleAssoc | async) == TEACHING_ASSISTANT">

                  <div class="row">
                    <div class="col-sm-12">
                      <h2>You</h2>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="display-4">{{testMarking.totalForYou - testMarking.toBeMarkedByYou}}
                        / {{testMarking.totalForYou}}</h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="display-4">
                        Progress: {{ ((testMarking.totalForYou - testMarking.toBeMarkedByYou) * 100) / testMarking.totalForYou}}
                        %</h5>
                    </div>
                  </div>

                </div>

                <div *ngIf="(moduleAssoc | async) == TUTOR">

                  <div class="row">
                    <div class="col-sm-6">
                      <h2>You</h2>
                    </div>
                    <div class="col-sm-6">
                      <h2>Assistants</h2>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <h5 class="display-4">{{testMarking.totalForYou - testMarking.toBeMarkedByYou}}
                        / {{testMarking.totalForYou}}</h5>
                    </div>
                    <div class="col-sm-6">
                      <h5 class="display-4">{{testMarking.totalForTAs - testMarking.toBeMarkedByTAs}}
                        / {{testMarking.totalForTAs}}</h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="display-4">
                        Progress: {{calculateProgress(testMarking.marked, testMarking.toBeMarkedByYou, testMarking.toBeMarkedByTAs)}}
                        %</h5>
                    </div>
                  </div>

                </div>

                <div aria-label="Basic example" class="btn-group" role="group">
                  <button [routerLink]="['/mark', testMarking.test.testID]" class="btn btn-warning" type="button">Mark
                    scripts
                  </button>
                  <button *ngIf="(moduleAssoc | async) == TUTOR" [routerLink]="['/delegateMarking', testMarking.test.testID]"
                          class="btn btn-warning"
                          type="button">View progress and assign scripts
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="marking.length == 0">
          <div class="title">
            <h5 class="display-5">Marking</h5>
            <h1 class="display-3">No marking to show.</h1>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="testDraftCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == TUTOR" class="modHomeInner" id="testDrafts">
        <div *ngIf="testDrafts.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Test Drafts</h5>
          </div>
          <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Title</th>
              <th>Edit</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let testDraft of testDrafts">
              <td scope="row">{{testDraft.testID}}</td>
              <td data-label="Title">{{testDraft.testTitle}}</td>
              <td data-label="Edit"><a [routerLink]="['/editTest', testDraft.testID]" style="color: white;"><i
                class="fas fa-edit fa-lg"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="testDrafts.length == 0">
          <div class="title">
            <h5 class="display-5">Test Drafts</h5>
            <h1 class="display-3">No drafts to show.</h1>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="reviewMarkingCheck" class="pre-scrollable">
      <div *ngIf="(moduleAssoc | async) == TUTOR" class="modHomeInner panel panel-default default-pre-scrollable" id="reviewMarking">
        <div *ngIf="testsForReview.length > 0">
          <div class="title">
            <h5 class="display-5" style="margin-top: 20px;">Review Marking</h5>
          </div>
          <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Title</th>
              <th>Review</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let test of testsForReview">


              <td scope="row">{{test.test.testID}}</td>
              <td data-label="Title">{{test.test.testTitle}}</td>
              <td data-label="Review"><a [routerLink]="['/reviewMarking', test.test.testID]" style="color: white;"><i
                class="fas fa-search fa-lg"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="testsForReview.length == 0">
          <div class="title">
            <h5 class="display-5">Review Marking</h5>
            <h1 class="display-3">No reviews ready.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
