<!-- Template from ngBootstrap -->
<ng-template #AreYouSureQuestionRemoval let-modal>
  <div class="modal-header">
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to remove this question from the test?</h5>
  </div>
  <div class="modal-footer">
    <button
      (click)="modal.close(); removeQuestion(questionDetail.question.questionID, testID); editTest.showAdd = true; editTest.showDetail = false;"
      class="btn btn-outline-dark" type="button">Yes
    </button>
  </div>
</ng-template>

<!-- Template from ngBootstrap -->
<ng-template #EditQuestion let-modal>
  <div class="modal-header">
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Instead of editing this question you could choose to duplicate it allowing you to keep the original and the
      revised versions.</h5>
    <h5>After duplication it can be found in the old questions section by clicking the 'reuse' button.</h5>
  </div>
  <div class="modal-footer">
    <button
      (click)="modal.close(); duplicateQuestion(questionDetail.question.questionID);"
      class="btn btn-outline-dark" type="button">Yes, duplicate.
    </button>
    <button
      (click)="modal.close(); editQuestion = true;"
      class="btn btn-outline-dark" type="button">No, edit.
    </button>
  </div>
</ng-template>

<h3><span ngbTooltip="Scroll down to see more" placement="right">Question Info </span><span aria-label="Basic example"
                                                                                            class="btn-group"
                                                                                            role="group"
                                                                                            style="margin-bottom: 5px;">
   <button *ngIf="editQuestion" (click)="editQuestion = false" class="btn btn-primary btn-sm"
           type="button">View</button>
  <button *ngIf="!editQuestion" (click)="open(EditQuestion)" class="btn btn-primary btn-sm" type="button">Edit</button>
              <button class="btn btn-danger btn-sm" type="button"
                      (click)="open(AreYouSureQuestionRemoval)">Remove</button>
            </span></h3>
<div class="pre-scrollable">
  <div class="panel panel-default default" *ngIf="questionDetail">
    <div class="panel-body">
      <div *ngIf="!editQuestion">
        <img *ngIf="questionDetail.base64 != null && questionDetail.base64.length > 0"
             style="width: 50%; margin-left: 25%; margin-right: 25%;" [src]="readyImage()" alt="QuestionFigure">
        <div><h5 id="content">{{questionDetail.question.questionContent}}</h5></div>
        <div *ngIf="questionDetail.mathLines && questionDetail.mathLines.length >0">
          <div *ngFor="let mathLine of questionDetail.mathLines; let rowIndex = index;">
            <p style="margin-top: 3px;">
              <ng-katex [equation]="mathLine.content" [options]="options"></ng-katex>
            </p>
          </div>
        </div>

        <div class="row" id="typeAndMark">
          <div class="col-sm-4">
            <div *ngFor="let type of questionTypesToShow">
              <div *ngIf="type.questionTypeID == questionDetail.question.questionType">
                <h5><b>Type: </b>{{type.questionType}}</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <h5><b>Max Score: </b>{{questionDetail.question.maxScore}}</h5>
          </div>

          <div class="col-sm-4">
            <h5><b>Min Score: </b>{{questionDetail.question.minScore}}</h5>
          </div>
        </div>

        <div *ngIf="questionDetail.question.questionType == 2">
          <p *ngIf="questionDetail.question.allThatApply == 1">Select all that apply...</p>
          <p *ngIf="questionDetail.question.allThatApply == 0">Select one...</p>
          <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
              <th>Option</th>
              <th>Feedback</th>
              <th>Worth</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let opt of questionDetail.options">
              <td data-label="Option">{{opt.optionContent}}</td>
              <td data-label="Feedback">{{opt.feedback}}</td>
              <td data-label="Worth">{{opt.worthMarks}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- Question Type 2 is multiple choice -->
        <div *ngIf="questionDetail.question.questionType != 2">
          <h4>Mark Allocations <span style="font-size: small;"> expand to see more details</span></h4>
          <ngb-accordion [closeOthers]="true" #markAllocations="ngbAccordion" activeIds="ngb-panel-0"
                         class="rounded dark">
            <ngb-panel class="rounded dark" *ngFor="let correctPoint of questionDetail.correctPoints"
                       title="{{correctPoint.phrase}}" style="text-decoration: none;">
              <ng-template ngbPanelContent class="rounded dark">

                <div class="row" style="padding-left: 10%; padding-right: 10%;">
                  <div class="col-sm-12">
                    <ng-katex *ngIf="correctPoint.math == 1" [equation]="correctPoint.phrase"
                              [options]="options"></ng-katex>
                  </div>
                  <div class="col-sm-6" *ngIf="correctPoint.alternatives && correctPoint.alternatives.length > 0">
                    <h5><b>Alternative Phrases: </b></h5>
                    <ul style="text-align: left;">
                      <li *ngFor="let alt of correctPoint.alternatives">
                        {{alt.alternativePhrase}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6" style="text-align: right;">
                    <h5><b>Allocated Mark: </b>{{correctPoint.marksWorth}}</h5>
                  </div>

                </div>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <form *ngIf="editQuestion" #addQuestionForm="ngForm" (submit)="addQuestion(addQuestionForm)"
            id='addQuestionForm'
            name='addQuestionForm' role="form"
            style="width: 100%; padding: 5px 10px 5px 10px;">

        <fieldset style="width: 100%;">
          <legend>Question</legend>

          <img *ngIf="questionDetail.base64 != null && questionDetail.base64.length > 0"
               style="width: 50%; margin-left: 25%; margin-right: 25%;" [src]="readyImage()" alt="QuestionFigure">
          <div class="custom-file" style="margin-top: 10px; margin-bottom: 10px;">
            <input type="file" class="custom-file-input" name="questionFigure" id="questionFigure"
                   (change)="imageAdded($event)" #imgInput>
            <label class="custom-file-label" for="questionFigure" (click)="imgInput.click()">Add an image - <span
              *ngIf="!fileError">(max. 1MB)</span><span *ngIf="fileSuccess"> - File added <i
              class="fas fa-check-circle"></i></span><span *ngIf="fileError"
                                                           style="color: #dc3545;">Invalid file size: {{fileSize / 1024 / 1024 | number: '1.0-2'}}
              MB</span></label>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="questionTypes">Question Type <span *ngIf="typeError"
                                                             style="font-size: x-small; color: #dc3545;">You must select a type.</span></label>

              <select #questionType="ngModel" [(ngModel)]="questionDetail.question.questionType" class="form-control"
                      id="questionTypes"
                      name="questionTypesModel" (change)="onTypeClick($event.target.value)" readonly disabled>
                <option *ngFor="let q of questionTypesToShow" [value]="q.questionTypeID">{{q.questionType}}</option>
              </select>

            </div>
            <div class="form-group col-md-4">
              <label for="maxScore">Max Score <span *ngIf="maxScoreError" style="font-size: x-small; color: #dc3545;">Score must be greater than zero.</span></label>
              <input #maxScore="ngModel" [(ngModel)]="questionDetail.question.maxScore" class="form-control"
                     id="maxScore"
                     min="1"
                     name="maxScore" type="number"/>
            </div>
            <div class="form-group col-md-4">
              <label for="maxScore">Min Score <span *ngIf="minScoreError" style="font-size: x-small; color: #dc3545;">Question must have a min score.</span></label>
              <input #maxScore="ngModel" [(ngModel)]="questionDetail.question.minScore" class="form-control"
                     id="minScore"
                     min="1"
                     name="maxScore" type="number"/>
            </div>
          </div>

          <div *ngIf="questionDetail.question.questionType == 3">
            <p style="font-size: x-small;">For insert the word:
              <br/>1. Enter the text and then place any words that you want the user to insert inside double square
              brackets
              like this [[the insert]].
              <br/>2. Then down below enter the answer again as a phrase in to the mark allocation and provide any
              alternatives that you think can also be added in its place.
              <br/>You can add as many inserts as you like just make sure and use the double square brackets [[the
              insert]]
              and ensure that the phrase in the mark allocation matches the spelling of the insert exactly.
              <br/>If you need to put anything else inside the double square brackets [[]], you still can, just don't
              add a
              mark allocation for it.</p>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="questionContent">Question Content <span *ngIf="contentError"
                                                                  style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
              <textarea [(ngModel)]="questionDetail.question.questionContent" class="form-control" id="questionContent"
                        name="questionContent" rows="3"
                        style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
            </div>
            <div class="col-sm-12">
              <button type="button" class="btn btn-success btn-sm"
                      (click)="addMathLine()" style="margin-bottom: 10px;">Add a math line
              </button>
              <a *ngIf="questionDetail.mathLines && questionDetail.mathLines.length > 0"
                 href="https://katex.org/docs/support_table.html" target="_blank">
                What's available?</a>
            </div>
            <div class="col-sm-12" *ngFor="let mathLine of questionDetail.mathLines; let rowIndex = index;">
              <div class="form-row">
                <div class="col-sm-6">
                  <label for="equation_{{rowIndex}}">Line {{rowIndex + 1}} </label>
                  <button type="button" (click)="removeMathLine(rowIndex)"
                          style="color: #dc3545; background-color: transparent; border: none;"><i
                    class="fas fa-times"></i></button>
                </div>
                <div class="col-sm-6">
                  <label>Output</label>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-6">
                  <textarea class="form-control" rows="2" type="text" name="equation_{{rowIndex}}"
                            id="equation_{{rowIndex}}"
                            [(ngModel)]="mathLine.content"></textarea>
                </div>
                <div class="col-sm-6">
                  <ng-katex [equation]="mathLine.content" [options]="options"></ng-katex>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div *ngIf="questionDetail.question.questionType == 2">

          <fieldset id="optionsFieldset" style="width: 100%;">
            <legend>Options
              <button (click)="addOption()" type="button"
                      style="color: #28a745; background-color: transparent; border: none;"><i
                class="fas fa-plus"></i></button>

            </legend>

            <div class="form-row">
              <label for="allThatApply">Settings </label>

              <select #allThatApply="ngModel" [(ngModel)]="questionDetail.question.allThatApply" class="form-control"
                      id="allThatApply"
                      name="allThatApply">
                <option [value]="0">Select one.</option>
                <option [value]="1">All the apply.</option>
              </select>
            </div>

            <div *ngIf="questionDetail.options.length > 0">
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label for="option{{[i]}}">Option</label>
                  <span *ngIf="optionError" style="font-size: x-small; color: #dc3545;">Option must have between 1 and 65,535 characters.</span>
                </div>
                <div class="form-group col-md-5">
                  <label for="optFeedback{{[i]}}">Feedback</label>
                  <span *ngIf="optFeedbackError" style="font-size: x-small; color: #dc3545;">Feedback must have between 1 and 65,535 characters.</span>
                </div>
                <div class="form-group col-md-2">
                  <label for="worthMarks{{[i]}}">Worth Marks</label>
                  <span *ngIf="worthMarksError"
                        style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span>

                </div>
              </div>
              <div class="form-row" *ngFor="let option of questionDetail.options; let i = index">
                <!-- Template from ngBootstrap -->
                <ng-template #DeleteOption let-modal>
                  <div class="modal-header">
                    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this option?
                  </div>
                  <div class="modal-footer">
                    <button
                      (click)="modal.close(); removeOption([i]);"
                      class="btn btn-outline-dark" type="button">Yes.
                    </button>
                  </div>
                </ng-template>

                <div class="form-group col-md-5">
            <textarea [(ngModel)]="option.optionContent" class="form-control" id="option{{[i]}}" name="option{{[i]}}"
                      rows="1"
                      style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                </div>
                <div class="form-group col-md-5">
             <textarea [(ngModel)]="option.feedback" class="form-control" id="optFeedback{{[i]}}"
                       name="optFeedback{{[i]}}"
                       rows="1"
                       style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                </div>
                <div class="form-group col-md-1">
                  <input [(ngModel)]="option.worthMarks" value="0" class="form-control" id="worthMarks{{[i]}}"
                         name="worthMarks{{[i]}}"
                         type="number">
                </div>
                <div class="form-group col-md-1">
                  <button type="button" (click)="open(DeleteOption)"
                          style="color: #dc3545; background-color: transparent; border: none;"><i
                    class="fas fa-times"></i></button>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div
          *ngIf="questionDetail.question.questionType == 1 || questionDetail.question.questionType == 3 || questionDetail.question.questionType == 4">
          <fieldset id="markSchemeFieldset" style="width: 100%;">
            <legend>

        <span
          ngbTooltip="Add some information on what you are looking for in the answer. The more you add the more the system can help you mark."
          placement="bottom">
          Mark Scheme</span>
              <button (click)="addCorrectPoint()" type="button"
                      style="color: #28a745; background-color: transparent; border: none;"><i
                class="fas fa-plus"></i></button>

            </legend>

            <div *ngIf="questionDetail.correctPoints.length > 0">
              <fieldset *ngFor="let correctPoint of questionDetail.correctPoints; let i = index">
                <!-- Template from ngBootstrap -->
                <ng-template #DeleteCorrectPoint let-modal>
                  <div class="modal-header">
                    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this correct point?
                  </div>
                  <div class="modal-footer">
                    <button
                      (click)="modal.close(); removeCorrectPoint([i]);"
                      class="btn btn-outline-dark" type="button">Yes.
                    </button>
                  </div>
                </ng-template>

                <legend>Mark Allocation
                  <button type="button" (click)="open(DeleteCorrectPoint)"
                          style="color: #dc3545; background-color: transparent; border: none;"><i
                    class="fas fa-times"></i></button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4" *ngIf="questionDetail.question.questionType == 4">
                    <label for="correctPointType{{i}}">Type </label>

                    <select #cpType="ngModel" [(ngModel)]="correctPoint.math" class="form-control"
                            id="correctPointType{{i}}"
                            name="correctPointType{{i}}">
                      <option [value]="0">Text</option>
                      <option [value]="1">Mathematical</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6" style="margin-bottom: 2px;">
                    <label for="phrase{{[i]}}">Phrase <span *ngIf="phraseError == i"
                                                            style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
                    <span *ngIf="insertError == i"
                          style="font-size: x-small; color: #dc3545;"> Insertion [[{{correctPoint.phrase}}]] not found in question content.</span>
                  </div>
                  <div class="form-group col-md-6" style="margin-bottom: 2px;">
                    <label *ngIf="correctPoint.math == 0" for="marksWorth{{[i]}}">Allocated Mark <span
                      *ngIf="marksWorthError == i"
                      style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span></label>
                    <label *ngIf="correctPoint.math == 1">Math output of phrase:</label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
              <textarea rows="1" [(ngModel)]="correctPoint.phrase" class="form-control" id="phrase{{[i]}}"
                        name="phrase{{[i]}}"
                        type="text"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <input *ngIf="correctPoint.math == 0" [(ngModel)]="correctPoint.marksWorth" class="form-control"
                           id="marksWorth{{[i]}}"
                           name="marksWorth{{[i]}}"
                           type="number">
                    <ng-katex *ngIf="correctPoint.math == 1" [equation]="correctPoint.phrase" id="mathOutput{{i}}"
                              [options]="options"></ng-katex>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label *ngIf="correctPoint.math == 1" for="marksWorth{{[i]}}m">Allocated Mark <span
                      *ngIf="marksWorthError == i"
                      style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span></label>
                    <input *ngIf="correctPoint.math == 1" [(ngModel)]="correctPoint.marksWorth" class="form-control"
                           id="marksWorth{{[i]}}m"
                           name="marksWorth{{[i]}}m"
                           type="number"/>
                    <label for="feedback{{[i]}}">Feedback to give <span *ngIf="feedbackError == i"
                                                                        style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
                    <textarea [(ngModel)]="correctPoint.feedback" class="form-control" id="feedback{{[i]}}"
                              name="feedback{{[i]}}"
                              rows="3"
                              style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Alternative Phrases
                      <button (click)="addAlternative([i])" type="button"
                              style="color: #007bff; background-color: transparent; border: none;"><i
                        class="fas fa-plus"></i> Text
                      </button>
                      <button *ngIf="questionDetail.question.questionType == 4" (click)="addMathAlternative([i])"
                              type="button"
                              style="color: #28a745; background-color: transparent; border: none;"><i
                        class="fas fa-plus"></i> Math
                      </button>
                    </label><br/>
                    <span *ngIf="alternativePhraseError" style="font-size: x-small; color: #dc3545;">Must not exceed 65,535 characters.</span>
                    <div *ngFor="let alt of correctPoint.alternatives; let j = index">

                      <!-- Template from ngBootstrap -->
                      <ng-template #RemoveAlternative let-modal>
                        <div class="modal-header">
                          <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this alternative?
                        </div>
                        <div class="modal-footer">
                          <button
                            (click)="modal.close(); removeAlternative([i], [j]);"
                            class="btn btn-outline-dark" type="button">Yes.
                          </button>
                        </div>
                      </ng-template>

                      <div class="row">
                        <div class="col-sm-11" style="padding-right: 0;">
                          <textarea rows="1" [(ngModel)]="alt.alternativePhrase"
                                    class="form-control" id="{{[i]}}alternatives{{[j]}}"
                                    name="{{[i]}}alternatives{{[j]}}"
                                    type="text"
                                    [ngStyle]="{'border-color' : alt.math == 1 ? '#28a745' : '#007bff'}"></textarea>
                          <p style="margin-top: 3px;" *ngIf="alt.math == 1">
                            <ng-katex [equation]="alt.alternativePhrase" [options]="options"></ng-katex>
                          </p>

                        </div>

                        <div class="col-sm-1" style="padding-left: 0;">
                          <button type="button"
                                  (click)="open(RemoveAlternative)"
                                  style="color: #dc3545; background-color: transparent; border: none;"><i
                            class="fas fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

          </fieldset>
        </div>
        <input class="shadow button btn-dark" id="addQuestionButton" name='addQuestionButton'
               type="submit" value="Save"/>
      </form>
    </div>
  </div>
</div>
