<app-header></app-header>
<form class="shadow mainForm" id="editProfile" name='editProfile' role="form"
      #editProfileForm="ngForm" (submit)="editProfile(editProfileForm)" novalidate>

  <h3>Edit Profile</h3>
  <p *ngIf="success">Profile updated <i
    class="fas fa-check-circle"></i></p>
  <div class="form-group">
    <label for="email">Email:</label>
    <small *ngIf="usernameError"> {{usernameErrorMessage}}</small>
    <input (change)="getUserNames(user.username)" #emailModel="ngModel" type="email" class="form-control" id="email"
           aria-describedby="emailDesc" name="email" [(ngModel)]="user.username" required/>
  </div>

  <div class="form-group">
    <label for="email">First name:</label>
    <small *ngIf="firstNameError"> {{firstNameErrorMessage}}</small>
    <input #firstNameModel="ngModel" type="text" class="form-control" id="first-name" aria-describedby="firstNameDesc"
           name="first-name" [(ngModel)]="user.firstName" required/>
  </div>

  <div class="form-group">
    <label for="email">Last name:</label>
    <small *ngIf="lastNameError"> {{lastNameErrorMessage}}</small>
    <input #lastNameModel="ngModel" type="text" class="form-control" id="last-name" aria-describedby="lastNameDesc"
           name="last-name" [(ngModel)]="user.lastName" required/>
  </div>
  <button id="loginButton" type="submit" class="shadow btn btn-primary">Submit</button>
</form>
