<app-header></app-header>
<div class="container" style="align-content: center; text-align: center;">
<h1 class="display-3">Change Password</h1>


  <p style="font-size: x-small; margin-bottom: 2px;" *ngIf="error">{{errorMessage}}</p>
  <form (submit)="changePassword()" id="changePasswordForm" name='changePasswordForm'
        role="form" style="width: 60%; margin-left: 20%">

    <div class="form-group">
      <div class="row">
          <label for="currentPassword" style="font-size: 1.75rem;">Current Password</label>
          <input #testTitle="ngModel" [(ngModel)]="changePasswordObj.password" aria-describedby="testTitleHelp"
                 class="form-control" id="currentPassword" name="currentPassword" required type="password"/>

        </div>

      <div class="row">
        <label for="newPassword" style="font-size: 1.75rem;">New Password</label>
        <input #testTitle="ngModel" [(ngModel)]="changePasswordObj.newPassword" aria-describedby="testTitleHelp"
               class="form-control" id="newPassword" name="newPassword" required type="password" style="margin-right: 10px;"/>

      </div>

      <div class="row">
        <label for="repeatPassword" style="font-size: 1.75rem;">Re-enter new password</label>
        <input #testTitle="ngModel" [(ngModel)]="changePasswordObj.repeatPassword" aria-describedby="testTitleHelp"
               class="form-control" id="repeatPassword" name="repeatPassword" required type="password" style="margin-right: 10px;"/>

      </div>
      </div>
    <button type="submit" class="btn btn-dark" style="position: relative; float: right;">Save</button>
  </form>
</div>
