<h3>
  <span ngbTooltip="Scrollable" placement="top">New Question</span>
</h3>
<form #addQuestionForm="ngForm" (submit)="addQuestion(addQuestionForm)" class='shadow pre-scrollable'
      id='addQuestionForm'
      name='addQuestionForm' role="form"
      style="width: 100%; padding: 5px 10px 5px 10px;">

  <fieldset style="width: 100%;">
    <legend>Question</legend>

    <div class="custom-file" style="margin-top: 10px; margin-bottom: 10px;">
      <input type="file" class="custom-file-input" name="questionFigure" id="questionFigure"
             (change)="imageAdded($event)" #imgInput>
      <label class="custom-file-label" for="questionFigure" (click)="imgInput.click()">Add an image - <span
        *ngIf="!fileError">(max. 1MB | must be .png)</span><span *ngIf="fileError"
                                                  style="color: #dc3545;">Invalid file size: {{fileSize / 1024 / 1024 | number: '1.0-2'}}
        MB</span></label>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="questionTypes">Question Type <span *ngIf="typeError" style="font-size: x-small; color: #dc3545;">You must select a type.</span></label>

        <select #questionType="ngModel" [(ngModel)]="questionInsert.question.questionType" class="form-control"
                id="questionTypes"
                name="questionTypesModel" (change)="onTypeClick($event.target.value)">
          <option *ngFor="let q of questionTypesToShow" [value]="q.questionTypeID">{{q.questionType}}</option>
        </select>

      </div>
      <div class="form-group col-md-6">
        <label for="maxScore">Score <span *ngIf="maxScoreError" style="font-size: x-small; color: #dc3545;">Score must be greater than zero.</span></label>
        <input #maxScore="ngModel" [(ngModel)]="questionInsert.question.maxScore" class="form-control" id="maxScore"
               min="1"
               name="maxScore" type="number"/>
      </div>
    </div>

    <div *ngIf="questionTypeChecker == 3">
      <p style="font-size: small;">For insert the word:
        <br/>1. Enter the text and then place any words that you want the user to insert inside double square brackets
        like this [[the insert]].
        <br/>2. Then down below enter the answer again as a phrase in to the mark allocation and provide any
        alternatives that you think can also be added in its place.
        <br/>You can add as many inserts as you like just make sure and use the double square brackets [[the insert]]
        and ensure that the phrase in the mark allocation matches the spelling of the insert exactly.
        <br/>If you need to put anything else inside the double square brackets [[]], you still can, just don't add a
        mark allocation for it.
        <br/>Each question of this type will have "Insert the missing word(s):" prepended to it so you don't need to
        include it yourself.</p>

    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="questionContent">Question Content <span *ngIf="contentError"
                                                            style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
        <textarea [(ngModel)]="questionInsert.question.questionContent" class="form-control" id="questionContent"
                  name="questionContent" rows="3"
                  style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
      </div>
    </div>
  </fieldset>

  <div *ngIf="questionTypeChecker == 2">

    <fieldset id="optionsFieldset" style="width: 100%;">
      <legend>Options
        <button (click)="addOption()" type="button"
                style="color: #28a745; background-color: transparent; border: none;"><i
          class="fas fa-plus"></i></button>
      </legend>

      <div *ngIf="questionInsert.options.length > 0">
        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="allThatApply">Settings </label>

            <select #allThatApply="ngModel" [(ngModel)]="questionInsert.question.allThatApply" class="form-control"
                    id="allThatApply"
                    name="allThatApply">
              <option [value]="0">Select one.</option>
              <option [value]="1">All the apply.</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="option{{[i]}}">Option</label>
            <span *ngIf="optionError" style="font-size: x-small; color: #dc3545;">Option must have between 1 and 65,535 characters.</span>
          </div>
          <div class="form-group col-md-5">
            <label for="optFeedback{{[i]}}">Feedback</label>
            <span *ngIf="optFeedbackError" style="font-size: x-small; color: #dc3545;">Feedback must have between 1 and 65,535 characters.</span>
          </div>
          <div class="form-group col-md-2">
            <label for="worthMarks{{[i]}}">Worth Marks</label>
            <span *ngIf="worthMarksError"
                  style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span>

          </div>
        </div>
        <div class="form-row" *ngFor="let option of questionInsert.options; let i = index">
          <div class="form-group col-md-5">
            <textarea [(ngModel)]="option.optionContent" class="form-control" id="option{{[i]}}" name="option{{[i]}}"
                      rows="1"
                      style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
          </div>
          <div class="form-group col-md-5">
             <textarea [(ngModel)]="option.feedback" class="form-control" id="optFeedback{{[i]}}"
                       name="optFeedback{{[i]}}"
                       rows="1"
                       style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
          </div>
          <div class="form-group col-md-1">
            <input [(ngModel)]="option.worthMarks" value="0" class="form-control" id="worthMarks{{[i]}}"
                   name="worthMarks{{[i]}}"
                   type="number">
          </div>

          <div class="form-group col-md-1">
            <button type="button" (click)="removeOption([i])"
                    style="color: #dc3545; background-color: transparent; border: none;"><i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>


  <div *ngIf="questionTypeChecker == 1 || questionTypeChecker == 3">
    <fieldset id="markSchemeFieldset" style="width: 100%;">
      <legend>
        <span
          ngbTooltip="Add some information on what you are looking for in the answer. The more you add the more the system can help you mark."
          placement="bottom">
          Mark Scheme</span>
        <button (click)="addCorrectPoint()" type="button"
                style="color: #28a745; background-color: transparent; border: none;"><i
          class="fas fa-plus"></i></button>

      </legend>

      <div *ngIf="questionInsert.correctPoints.length > 0">
        <fieldset *ngFor="let correctPoint of questionInsert.correctPoints; let i = index">
          <legend>Mark Allocation <span><button type="button" (click)="removeCorrectPoint([i])"
                                                style="color: #dc3545; background-color: transparent; border: none;"> <i
            class="fas fa-times"></i></button></span></legend>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phrase{{[i]}}">Phrase <span *ngIf="phraseError == i"
                                                      style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
              <span *ngIf="insertError == i"
                    style="font-size: x-small; color: #dc3545;"> Insertion [[{{correctPoint.phrase}}]] not found in question content.</span>
              <input [(ngModel)]="correctPoint.phrase" class="form-control" id="phrase{{[i]}}" name="phrase{{[i]}}"
                     type="text"/>
            </div>
            <div class="form-group col-md-6">
              <label for="marksWorth{{[i]}}">Allocated Mark <span *ngIf="marksWorthError == i"
                                                                  style="font-size: x-small; color: #dc3545;">Must not exceed +/- the total mark.</span></label>
              <input [(ngModel)]="correctPoint.marksWorth" class="form-control" id="marksWorth{{[i]}}"
                     name="marksWorth{{[i]}}"
                     type="number">
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="feedback{{[i]}}">Feedback to give <span *ngIf="feedbackError == i"
                                                                  style="font-size: x-small; color: #dc3545;">Must have between 1 and 65,535 characters.</span></label>
              <textarea [(ngModel)]="correctPoint.feedback" class="form-control" id="feedback{{[i]}}"
                        name="feedback{{[i]}}"
                        rows="3"
                        style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label>Alternative Phrases
                <button (click)="addAlternative([i])" type="button"
                        style="color: #28a745; background-color: transparent; border: none;"><i
                  class="fas fa-plus"></i></button>

              </label><br/>
              <span *ngIf="alternativePhraseError" style="font-size: x-small; color: #dc3545;">Must not exceed 65,535 characters.</span>
              <div *ngFor="let alt of correctPoint.alternatives; let j = index">
                <div class="row">
                  <div class="col-sm-11" style="padding-right: 0;">
                    <input [(ngModel)]="alt.alternativePhrase"
                           class="form-control" id="{{[i]}}alternatives{{[j]}}" name="{{[i]}}alternatives{{[j]}}"
                           type="text">
                  </div>
                  <div class="col-sm-1" style="padding-left: 0;">
                    <button type="button"
                            (click)="removeAlternative([i], [j])"
                            style="color: #dc3545; background-color: transparent; border: none;"><i
                      class="fas fa-times"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>
      </div>

    </fieldset>
  </div>


  <input class="shadow button btn-dark" id="addQuestionButton" name='addQuestionButton'
         type="submit" value="Save"/>
</form>
