<h3>
  <span ngbTooltip="Scrollable" placement="top">New Question</span>
</h3>
<form #addQuestionForm="ngForm" (submit)="addQuestion(addQuestionForm)" class='shadow pre-scrollable' id='addQuestionForm'
      name='addQuestionForm' role="form"
      style="width: 100%; padding: 5px 10px 5px 10px;">

  <fieldset style="width: 100%;">
    <legend>Question</legend>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="questionTypes">Question Type</label>

        <select #questionType="ngModel" [(ngModel)]="questionInsert.question.questionType" class="form-control"
                id="questionTypes"
                name="questionTypesModel">
          <optionContent *ngFor="let q of questionTypesToShow" [value]="q.questionTypeID">{{q.questionType}}</optionContent>
        </select>

      </div>
      <div class="form-group col-md-6">
        <label for="maxScore">Score</label>
        <input #maxScore="ngModel" [(ngModel)]="questionInsert.question.maxScore" class="form-control" id="maxScore"
               min="1"
               name="maxScore" type="number"/>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="questionContent">Question Content</label>
        <textarea [(ngModel)]="questionInsert.question.questionContent" class="form-control" id="questionContent"
                  name="questionContent" rows="3"
                  style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
        <button class="btn btn-dark" style="margin-top: 5px;" type="button">Add Image</button>
      </div>
      <div class="form-group col-md-6">
      </div>
    </div>


  </fieldset>


  <fieldset id="markSchemeFieldset" style="width: 100%;">
    <legend><span ngbTooltip="Add some information on what you are looking for in the answer. The more you add the more the system can help you mark."
                  placement="bottom">Mark Scheme</span>
    </legend>

    <div *ngIf="questionInsert.correctPoints.length > 0">
      <fieldset *ngFor="let correctPoint of questionInsert.correctPoints; let i = index">
        <legend>Mark Allocation</legend>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phrase{{[i]}}">Phrase</label>
            <input [(ngModel)]="correctPoint.phrase" class="form-control" id="phrase{{[i]}}" name="phrase{{[i]}}"
                   type="text"/>
          </div>
          <div class="form-group col-md-6">
            <label for="marksWorth{{[i]}}">Allocated Mark</label>
            <input [(ngModel)]="correctPoint.marksWorth" class="form-control" id="marksWorth{{[i]}}"
                   name="marksWorth{{[i]}}"
                   type="number">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="feedback{{[i]}}">Feedback to give</label>
            <textarea [(ngModel)]="correctPoint.feedback" class="form-control" id="feedback{{[i]}}"
                      name="feedback{{[i]}}"
                      rows="3"
                      style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label>Alternative Phrases <a (click)="addAlternative([i])" ngbTooltip="Add another alternative."
                                          placement="top"><i
              class="fas fa-plus-circle"></i></a></label>

            <input *ngFor="let alt of correctPoint.alternatives; let j = index" [(ngModel)]="alt.alternativePhrase"
                   class="form-control" id="{{[i]}}alternatives{{[j]}}" name="{{[i]}}alternatives{{[j]}}"
                   type="text">

          </div>
        </div>
      </fieldset>
    </div>

    <button (click)="addCorrectPoint()" class="btn btn-dark" id='correctPointButton'>Add more to mark
      scheme...
    </button>

  </fieldset>


  <input class="shadow button btn-dark" id="addQuestionButton" name='addQuestionButton'
         type="submit" value="Save"/>
</form>
