<app-header></app-header>
<div class="container" style="width: 90%;">

  <!-- Template from ngBootstrap -->
  <ng-template #AreYouSureDeleteUser let-modal>
    <div class="modal-header">
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>Are you sure you want to remove this user?</h5>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close(); removeUser(userToRemove);" class="btn btn-outline-dark" type="button">Yes, I'm
        sure
      </button>
    </div>
  </ng-template>

  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
      <div class="pre-scrollable">
        <h2>Tutor Requests</h2>
        <div *ngIf="tutorRequests && tutorRequests.length > 0">
        <div *ngFor="let tutorRequest of tutorRequests;" style="margin-bottom: 10px;">
          <h4>{{tutorRequest.tutor.firstName + " " + tutorRequest.tutor.lastName}}</h4>
          <p>{{tutorRequest.request.reason}}</p>
          <button style="margin-top: 1px; margin-right: 3px;"
                  (click)="approveTutorRequest(tutorRequest.tutor.userID)"
                  class="btn btn-dark btn-sm">Approve
          </button>
          <button style="margin-top: 1px;" class="btn btn-dark btn-sm"
                  (click)="rejectTutorRequest(tutorRequest.tutor.userID)">Reject
          </button>
        </div>
        </div>
        <div *ngIf="!tutorRequests || tutorRequests.length == 0">No tutor requests to show.</div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="pre-scrollable">
        <h2>Module Requests</h2>
        <div *ngIf="moduleRequests && moduleRequests.length > 0">
          <div *ngFor="let moduleRequest of moduleRequests;" style="margin-bottom: 10px;">
            <h4>{{moduleRequest.tutor.firstName + " " + moduleRequest.tutor.lastName}}</h4>
            <p>{{moduleRequest.module.moduleName}}: {{moduleRequest.module.moduleDescription}}</p>
            <button style="margin-top: 1px; margin-right: 3px;"
                    (click)="approveModuleRequest(moduleRequest.module.moduleID)"
                    class="btn btn-dark btn-sm">Approve
            </button>
            <button style="margin-top: 1px;" class="btn btn-dark btn-sm"
                    (click)="rejectModuleRequest(moduleRequest.module.moduleID)">Reject
            </button>
          </div>
        </div>
        <div *ngIf="!moduleRequests || moduleRequests.length == 0">No module requests to show.</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="pre-scrollable">
        <h2>Add Users</h2>
        <form id="addModule" name='addModule' role="form"
              #addUserForm="ngForm" style="width: 80%; margin-left: 10%; margin-top: 2%;" (submit)="addUsers(addUserForm)" >

          <a href="../../assets/Sample%20Users.csv">Sample Users.csv</a>
          <div class="custom-file" style="margin-top: 10px; margin-bottom: 10px;">
            <input type="file" accept=".csv" class="custom-file-input" name="addUsers" id="addUsers"
                   (change)="readUsers($event)" #userInput>
            <label class="custom-file-label" for="addUsers" (click)="userInput.click()">Add users -
              <span
                *ngIf="!fileError">(Must be a .csv)</span><span *ngIf="fileSuccess"> - File added <i
                class="fas fa-check-circle"></i></span><span *ngIf="fileError"
                                                             style="color: #dc3545;">{{fileErrorMessage}}</span></label>
          </div>

          <button id="submitRequest" type="submit" style="float: right;" class="shadow btn btn-primary">Submit</button>
        </form>
        <h2>All Users</h2>
        <div *ngIf="users && users.length > 0">
            <table class="table-striped">
              <tr *ngFor="let user of users;">
                <td>{{user.userID}}. </td>
                <td>{{user.username}}</td>
                <td  *ngIf="user.userRoleID != 1" style="padding-left: 10px;"><button style="width: 100%;" (click)="makeAdmin(user.userID)" class="btn btn-success btn-sm">Admin</button></td>
                <td  *ngIf="user.userRoleID == 1" style="padding-left: 10px;"><button style="width: 100%;" (click)="makeAdmin(user.userID)" class="btn btn-warning btn-sm">Remove admin</button></td>
                <td  *ngIf="user.tutor != 1" style="padding-left: 10px;"><button style="width: 100%;" class="btn btn-success btn-sm" (click)="makeTutor(user.userID)">Tutor</button></td>
                <td  *ngIf="user.tutor == 1" style="padding-left: 10px;"><button style="width: 100%;" class="btn btn-warning btn-sm" (click)="makeTutor(user.userID)">Remove tutor</button></td>
                <td  style="padding-left: 10px;"><button style="width: 100%;" class="btn btn-danger btn-sm" (click)="userToRemove = user.userID; open(AreYouSureDeleteUser)">Remove</button></td>
              </tr>
            </table>
        </div>
        <div *ngIf="!users || users.length == 0">No users to show.</div>
      </div>
    </div>
  </div>
</div>
