@charset "UTF-8";

body {
	background-color: #dbdbdb;
}

#loginLogo {
	width: 15%;
	margin-left: 42.5%;
}

#homeLogo {
	width: 10%;
	margin-left: 45%;
}

.container {
	width: 80%;	
}

.container h1 {
	align: center;
	margin-bottom: 5%;
}

.mainForm {
	background-color: #bdbdbd;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 15%;
	padding: 30px 30px 30px 30px;
}

#addQuestionForm {
	background-color: #bdbdbd;
	width: 60%;
}

.button.u-full-width {
	background-color: black;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	font-size: 2em;
	margin-top: 20px;
}

.shadow.button {
	background-color: #545454;
	color: white;
}
#loginButton, #addTestButton {
	
	position: relative;
	float: right;
}

#loginButton {
	width: 20%;
}

#addTestButton {
	width: 55%;
}

.shadow {
	border-radius: 5px;
	box-shadow: 5px 3px 2.5px grey;
}

#loginCheckBox {
	margin-top: 2%;
	margin-left: 5%;
}

#logoutButton {
	margin-top: 5%;
	margin-right: 5%;
	position: relative;
	float: right;
}

#logoutButton button {
	background-color: #bdbdbd;
}

.title {
	text-align: center;
}

#modules .card {
	background-color: #bdbdbd;
	flex: 1;
	height: 100%;
}

#modules .card .section {
	text-align: center;
	font-size: 3.5em;
	height: 100%;
	vertical-align: middle;
}

#modules a {
	text-decoration: none;
	color: black;
	display: flex;
}

table {
	margin: 0;
}

table th {
	font-size: 2.5em;
}

table td, table td a {
	font-size: 1.5em;
}

#startDate, #endDate {
	min-height: 2em;
	width: 98%;
}

#addQuestionButton {
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

