<div class="modHomeInner" id="addTest">
  <div class="title">
    <h5 class="display-5">Add Test</h5>
  </div>
  <form (submit)="addTest()" id="addTestForm" name='addTestForm'
        role="form" style="width: 70%; margin-left: 15%;">

    <div class="row">
        <div class="col-sm-6">
          <label for="testTitle">Title</label>
          <p style="font-size: x-small; margin-bottom: 2px;" *ngIf="titleError">Must be between 1-50 characters long.</p>
          <input #testTitle="ngModel" [(ngModel)]="testInsert.testTitle" aria-describedby="testTitleHelp"
                 class="form-control" id="testTitle"
                 maxlength="50" minlength="1" name="testTitle" required type="text" style="margin-right: 10px;" [ngStyle]="{'border-color' : checkTitle}"/>

          </div>
        <div class="col-sm-6">
          <label for="startDate">Test Type:</label>
          <select placement="right" ngbTooltip="Practice tests give instant feedback and are always editable." style="border-color: #202529" #cpType="ngModel" [(ngModel)]="testInsert.practice" class="form-control"
                  id="practice"
                  name="practice">
            <option [value]="0">Official</option>
            <option [value]="1">Practice</option>
          </select>
        </div>
        </div>

      <div class="row">
        <div class="col-sm-6">
          <label for="startDate">Start</label>
          <p style="font-size: x-small; margin-bottom: 1px;" *ngIf="dateError">Start date must be before end date.</p>
          <p style="font-size: x-small; margin-bottom: 2px;" *ngIf="startDateError">Valid date range 365 days from today.</p>
          <input #startDate="ngModel" [(ngModel)]="testInsert.startDateTime" aria-describedby="startDateHelp"
                 class="form-control" id="startDate"
                 name="startDate" required type="datetime-local" min="{{today | date:'yyyy-MM-ddTHH:mm'}}" max="{{nextYear | date:'yyyy-MM-ddTHH:mm'}}" [ngStyle]="{'border-color' : checkStartDate}"/>
        </div>
        <div class="col-sm-6">
          <label for="endDate">End</label>
          <p style="font-size: x-small; margin-bottom: 2px;" *ngIf="endDateError">Valid date range 365 days from today.</p>
          <input #endDate="ngModel" [(ngModel)]="testInsert.endDateTime" aria-describedby="endDateHelp"
                 class="form-control" id="endDate"
                 name="endDate" required type="datetime-local" min="{{today | date:'yyyy-MM-ddTHH:mm'}}" max="{{nextYear | date:'yyyy-MM-ddTHH:mm'}}" [ngStyle]="{'border-color' : checkEndDate}"/>

        </div>
      </div>

    <div class="row">
      <div class="col-sm-6">
        <button style="margin-top: 15px;" class="btn btn-dark" id="loginButton" type="submit">Save and add questions...</button>
      </div>
    </div>
  </form>
</div>
