<div class="modHomeInner" id="addTest">
  <div class="title">
    <h5 class="display-5">Add Test</h5>
  </div>
  <form (submit)="addTest()" id="addTestForm" name='addTestForm'
        role="form" style="width: 70%; margin-left: 15%;">

    <div class="row">
      <div class="col-sm-6">
        <label for="testTitle">Title</label>
        <p *ngIf="titleError" style="font-size: x-small; margin-bottom: 2px;">Must be between 1-50 characters long.</p>
        <input #testTitle="ngModel" [(ngModel)]="testInsert.testTitle" [ngStyle]="{'border-color' : checkTitle}"
               aria-describedby="testTitleHelp" class="form-control"
               id="testTitle" maxlength="50" minlength="1" name="testTitle" required style="margin-right: 10px;"
               type="text"/>

      </div>
      <div class="col-sm-6">
        <label for="startDate">Test Type:</label>
        <select #cpType="ngModel" [(ngModel)]="testInsert.practice"
                class="form-control" id="practice" name="practice" ngbTooltip="Practice tests give instant feedback and are always editable."
                placement="right"
                style="border-color: #202529">
          <option [value]="0">Official</option>
          <option [value]="1">Practice</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label for="startDate">Start</label>
        <p *ngIf="dateError" style="font-size: x-small; margin-bottom: 1px;">Start date must be before end date.</p>
        <p *ngIf="startDateError" style="font-size: x-small; margin-bottom: 2px;">Valid date range 365 days from
          today.</p>
        <input #startDate="ngModel" [(ngModel)]="testInsert.startDateTime" [ngStyle]="{'border-color' : checkStartDate}"
               aria-describedby="startDateHelp" class="form-control"
               id="startDate" max="{{nextYear | date:'yyyy-MM-ddTHH:mm'}}" min="{{today | date:'yyyy-MM-ddTHH:mm'}}" name="startDate"
               required type="datetime-local"/>
      </div>
      <div class="col-sm-6">
        <label for="endDate">End</label>
        <p *ngIf="endDateError" style="font-size: x-small; margin-bottom: 2px;">Valid date range 365 days from
          today.</p>
        <input #endDate="ngModel" [(ngModel)]="testInsert.endDateTime" [ngStyle]="{'border-color' : checkEndDate}"
               aria-describedby="endDateHelp" class="form-control"
               id="endDate" max="{{nextYear | date:'yyyy-MM-ddTHH:mm'}}" min="{{today | date:'yyyy-MM-ddTHH:mm'}}" name="endDate"
               required type="datetime-local"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-dark" id="loginButton" style="margin-top: 15px;" type="submit">Save and add
          questions...
        </button>
      </div>
    </div>
  </form>
</div>
