<app-header></app-header>

<div class="container" style="width: 90%; max-width: 90%;">

  <nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/myModules'">Modules</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/moduleHome', test.moduleID]">Module Home</a></li>
      <li aria-current="page" class="breadcrumb-item active">{{test.testTitle}}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm-4">
      <h3 *ngIf="test">{{test.testTitle}}</h3>
      <div class="row">
        <div class="col-sm-8">
          <p>Deadline: {{countdown}}</p>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-success"
                  (click)="validateTest(); open(AreYouSureSubmit)" style="margin-bottom: 10px;">Submit
          </button>
        </div>
      </div>
      <h3>Questions</h3>
      <div class="panel panel-default pre-scrollable" style="max-height: 50vh; height: 50vh;">
        <table class="table-striped">
          <tr *ngFor="let question of questions; let i = index">
            <td style="padding-left: 5px;">{{i + 1}}</td>
            <td style="padding-left: 10px;"><span *ngIf="question.question.question.questionType == 3">Insert the missing word(s):<br/></span>{{question.question.question.questionContent}}
            </td>
            <td>
              <button type="button" class="btn btn-dark"
                      (click)="questionDetail = (i + 1);">
                Answer
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-8" style="height: 500px;">
      <form #takeTestForm="ngForm" id='takeTestForm'
            name='takeTestForm' role="form"
            style="width: 100%;">
        <div *ngIf="timeDifference == 0"><span *ngIf="!submitted">{{submitTest(takeTestForm)}}</span>{{backHome()}}
        </div>

        <!-- Template from ngBootstrap -->
        <ng-template #AreYouSureSubmit let-modal>
          <div class="modal-header">
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Are you sure you are ready to submit this test? Once you do you will not be allowed to edit your
              answers.</h5>
            <h6 *ngIf="tooLong != originalLongMessage">{{tooLong}}</h6>
            <h6 *ngIf="tooShort != originalShortMessage">{{tooShort}}</h6>
          </div>
          <div class="modal-footer">
            <button (click)="modal.close(); submitTest(takeTestForm)" class="btn btn-outline-dark" type="submit">Yes,
              I'm
              sure.
            </button>
          </div>
        </ng-template>

        <div class="pre-scrollable">
          <div class="panel panel-default default">
            <div class="panel-body">
              <div *ngFor="let question of questions; let i = index">
                <div *ngIf="questionDetail == (i + 1)">
                  <div class="content"><img
                    *ngIf="question.question.base64 != null && question.question.base64.length > 0"
                    style="max-width: 80%; max-height: 200px; margin-left: auto; margin-right: auto;"
                    [src]="readyImage(question.question.base64)" alt="QuestionFigure"></div>
                  <div class="form-row">
                    <h4 *ngIf="question.question.question.questionType == 3">Insert the missing word(s):</h4>
                    <div class="form-group col-sm-12">
                      <h4>{{i + 1}}
                        . {{question.question.question.questionContent}}
                        <span *ngIf="question.question.mathLines && question.question.mathLines.length >0">
                        <span *ngFor="let mathLine of question.question.mathLines;">
                          <span style="margin-top: 3px;">
                            <ng-katex [equation]="mathLine.content" [options]="options"></ng-katex>
                          </span>
                        </span>
                      </span>
                        <small style="float: right;">({{question.question.question.maxScore}} marks)</small>
                      </h4>
                    </div>
                  </div>

                  <div *ngIf="question.question.question.questionType == 4">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-primary btn-sm"
                              (click)="addTextInput(i)" style="margin-bottom: 10px; margin-right: 3px;">Add a line of
                        text
                      </button>
                      <button type="button" class="btn btn-success btn-sm"
                              (click)="addMathInput(i)" style="margin-bottom: 10px;">Add a line of math
                      </button>
                      <a href="https://katex.org/docs/support_table.html" target="_blank">
                        What's available?</a>
                      <p>Please attempt to add only add 1 statement per math line.</p>
                    </div>
                    <div class="form-row" *ngFor="let input of question.inputs; let j = index;">
                      <div class="col-sm-1" style="padding-left: 0;">
                        <button type="button"
                                (click)="removeInput(i, j)"
                                style="color: #dc3545; background-color: transparent; border: none;"><i
                          class="fas fa-times"></i></button>
                      </div>
                      <div class="form-group col-sm-6">
                        <textarea [(ngModel)]="input.inputValue" class="form-control" type="text"
                                  id="inputMath_({{i}}, {{j}})"
                                  name="inputMath_({{i}}, {{j}})"
                                  [ngStyle]="{'border-color' : input.math == 1 ? '#28a745' : '#007bff'}"></textarea>
                      </div>
                      <div class="col-sm-5">
                        <ng-katex *ngIf="input.math == 1" [equation]="input.inputValue" [options]="options"></ng-katex>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="question.question.question.questionType == 3">
                    <div class="form-row" *ngFor="let input of question.inputs; let j = index;">
                      <div class="form-group col-sm-1">
                        <label for="input_({{i}}, {{j}})"><h3>{{j + 1}}</h3></label>
                      </div>
                      <div class="form-group col-sm-6">
                        <input [(ngModel)]="input.inputValue" class="form-control" type="text" id="input_({{i}}, {{j}})"
                               name="input_({{i}}, {{j}})"/>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="question.question.question.questionType == 2">

                    <p *ngIf="question.question.question.allThatApply == 0">Select one...</p>
                    <p *ngIf="question.question.question.allThatApply == 1">Select all that apply...</p>
                    <div *ngFor="let option of question.question.options; let j = index" class="form-check">
                      <div *ngIf="question.question.question.allThatApply == 0">
                        <input [checked]="question.optionEntries[0].optionID == option.optionID"
                               (click)="question.optionEntries[0].optionID == option.optionID ? question.optionEntries[j].optionID = 0 : question.optionEntries[0].optionID = option.optionID;"
                               class="form-check-input" type="radio"
                               name="option_{{i}}" id="option_{{i}}">
                        <label style="font-size: large;" class="form-check-label" for="option_{{i}}">
                          {{option.optionContent}}
                        </label>
                      </div>

                      <div *ngIf="question.question.question.allThatApply == 1">
                        <input *ngIf="question.optionEntries[j]"
                               [checked]="question.optionEntries[j].optionID == option.optionID"
                               class="form-check-input" type="radio"
                               name="option_{{i}}_{{j}}" id="option_{{i}}_{{j}}"
                               (click)="question.optionEntries[j].optionID == option.optionID ? question.optionEntries[j].optionID = 0 : question.optionEntries[j].optionID = option.optionID;">
                        <label style="font-size: large;" class="form-check-label" for="option_{{i}}_{{j}}">
                          {{option.optionContent}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="question.question.question.questionType == 1">
                    <label for="answerContent_{{i}}">Answer:</label>
                    <textarea [(ngModel)]="question.answer.content" class="form-control"
                              id="answerContent_{{i}}"
                              name="answerContent_{{i}}" rows="8"
                              style="display: block;
    width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
